:root {
    --color-level-1: #797ec6;
    --color-level-2: #a4a9ea;
    --color-level-3: #ced2ff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    text-align: center;
    background: linear-gradient(to right, #9e78e9, #9eedf0);
}