:root {
    --color-level-1: #797ec6;
    --color-level-2: #a4a9ea;
    --color-level-3: #ced2ff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    text-align: center;
    background: linear-gradient(to right, #9e78e9, #9eedf0);
    font-size: 16px;
}

dialog {
    background-color: #caeff0;
    position: fixed;
    margin: 0;
    top:10vh;
    left:1vw;
}

h2 {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
}

button {
    border-radius: 20px;
}

button.close {
    margin-top: 10px;
    background-color: #797ec6;
}

.pdfButton {
   background-color: #caeff0;
    position: fixed;
    margin: 0;
    bottom: 10vh;
    /*bottom: 220px;*/
    left:1.5vw;
    border-radius: 20px;
    height: 75px;
    width: 75px;
    border-radius: 15%;
}

.pdfButton:hover {
  background-color: #218838; /* Dunkleres Grün beim Hover */
}


.user-entry {
  background: #ced2ff;
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.user-entry:hover {
  background: #a4a9ea;
}

.user-entry.locked {
  opacity: 0.4;
}

.user-entry .badge {
  font-size: 0.75em;
  padding: 2px 6px;
  border-radius: 5px;
  background: #444;
  color: #ced2ff;
}

.user-entry .badge.admin {
  background: #797ec6;
}




#ipLockOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4); /* Optional: dunkler Hintergrund */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  /* Kein pointer-events hier! */
}

#ipLockOverlay .overlay-box {
  pointer-events: auto;
  background: white;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}




.overlay-box {
  background: white;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
}

.overlay-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}
